In [1]:
import pandas as pd
import numpy as np

In [2]:
y=int(input('no of columns:'))

no of columns:8

In [3]:
zer = np.zeros((2,y))

In [4]:
for i in range(y):
    zer[0][i]=int(input(f"start time {i}:"))

start time 0:1
start time 1:0
start time 2:1
start time 3:4
start time 4:2
start time 5:5
start time 6:3
start time 7:4

In [5]:
for j in range(y):
    zer[1][j]=int(input(f"end time {j}:"))

end time 0:3
end time 1:4
end time 2:2
end time 3:6
end time 4:9
end time 5:8
end time 6:5
end time 7:5

In [6]:
df = pd.DataFrame()

In [7]:
df['start']=zer[0]

In [8]:
df['finish']=zer[1]

In [9]:
df['name']=['a'+ str(i) for i in range(y)]

In [10]:
df

   start  finish name
0    1.0     3.0   a0
1    0.0     4.0   a1
2    1.0     2.0   a2
3    4.0     6.0   a3
4    2.0     9.0   a4
5    5.0     8.0   a5
6    3.0     5.0   a6
7    4.0     5.0   a7

In [11]:
df.sort_values(by=['finish'],inplace=True)

In [12]:
df

   start  finish name
2    1.0     2.0   a2
0    1.0     3.0   a0
1    0.0     4.0   a1
6    3.0     5.0   a6
7    4.0     5.0   a7
3    4.0     6.0   a3
5    5.0     8.0   a5
4    2.0     9.0   a4

In [13]:
df = df.reset_index(drop=True)

In [14]:
df

   start  finish name
0    1.0     2.0   a2
1    1.0     3.0   a0
2    0.0     4.0   a1
3    3.0     5.0   a6
4    4.0     5.0   a7
5    4.0     6.0   a3
6    5.0     8.0   a5
7    2.0     9.0   a4

In [15]:
s = df['start']
f = df['finish']
name = df['name']

In [16]:
selected = []
n = len(df)-1
k = 0

In [17]:
def activity_selector(selected,name,s,f,k,n):
    m = k+1
    while (m <= n) and (s[m] < f[k]):
        m = m + 1
    if m <= n:
        selected.append(name[m])
        return activity_selector(selected,name,s,f,m,n)
    else:
        return []

In [18]:
selections = activity_selector(selected,name,s,f,k,n)

In [19]:
#print(f"selection : {selections}")
print(f"start point: {name[0]}")
print(f"selected : {selected}")

start point: a2
selected : ['a6', 'a5']